body{
	margin-top:0px;
	margin: 0%;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

nav > ul {
	margin: 0%;
	display: flex;
	justify-content: space-between;
	padding: 16px 20px;
}  
  li {
    padding-top: 5px;
    font-size: 16px;
	}
	a{
		color: white;
		text-decoration: none;
	}
  
#main-header{
	height: 60px;
	width: 100%;
	background-color: black;
}

.first{
	margin: 0%;
}

.principal{
	display: flex;
}
.img1{
	width: 400px;
	margin-right: 20px;
	float: left;
}
.parrafo{
	width: 65%;
	padding-right: 20px;
	padding-left: 10%;
}
.imagenes{
	width: 35%;
}
.img2{
	width: 200px;
	height: 200px;
}
.imagenes.seccionImg{
	display: flex;
	float: right;
    padding-right: 300px;
}
















